
Backup/*
coverShow/Backup/*
*.psb
*.psb
2023TECHWITH3.psb
*.mov
CrashCourse/Backup/LatestPresentation.9.toe
*.zip
CrashCourse/content/DAY4/做一个循环动画/Backup/*
CrashCourse/content/DAY4/声音可视化/Backup/*
CrashCourse/content/DAY5/Backup/*
CrashCourse/RecordLive/Backup/*
*.mp4
CrashCourse/Backup/*
*.jpg
CrashCourse/assets/RecordAssets/CoverProduce/CoverProduce.rar
*.rar
*.png
